* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Archivo', sans-serif;
  font-variation-settings: 'wdth' 80;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-narrow {
  font-variation-settings: "wdth" 62;
}

.font-condensed {
  font-variation-settings: 'wdth' 80;
}

.text-v-bold {
  font-variation-settings: 'wght' 600, 'wdth' 80;
}