* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Archivo', sans-serif;
  font-variation-settings: 'wdth' 80;
}